<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sitecore>
    <commerce.XA>
      <javascript>
        <feature>
          <file name="HabitatCommerceCoveoUaDetailViewModel" path="/Scripts/Commerce/Feature/Coveosearch/habitathome.feature.detailview.model.js" order="301"/>
          <file name="HabitatCommerceCoveoUaDetailView" path="/Scripts/Commerce/Feature/Coveosearch/habitathome.feature.detailview.js" order="302"/>
        </feature>
      </javascript>
    </commerce.XA>
    <pipelines>
      <commerce.carts.addCartLines>
        <processor type="Sitecore.HabitatHome.Feature.CoveoSearch.Processors.TriggerAddToCartEvent, Sitecore.HabitatHome.Feature.CoveoSearch" />
      </commerce.carts.addCartLines>
      <commerce.carts.removeCartLines></commerce.carts.removeCartLines>
      <commerce.carts.updateCartLines></commerce.carts.updateCartLines>
      <commerce.carts.deleteCart></commerce.carts.deleteCart>
      <commerce.carts.updateCart></commerce.carts.updateCart>
      <commerce.carts.mergeCart></commerce.carts.mergeCart>
      <commerce.orders.submitVisitorOrder>
        <processor type="Sitecore.HabitatHome.Feature.CoveoSearch.Processors.TriggerAddPurchaseEvents, Sitecore.HabitatHome.Feature.CoveoSearch" />
      </commerce.orders.submitVisitorOrder>
      <commerce.orders.visitorCancelOrder></commerce.orders.visitorCancelOrder>
      <commerce.orders.reorder></commerce.orders.reorder>
      <commerce.wishLists.addLinesToWishList></commerce.wishLists.addLinesToWishList>
      <commerce.wishLists.deleteWishList></commerce.wishLists.deleteWishList>
      <commerce.wishLists.updateWishList></commerce.wishLists.updateWishList>
      <commerce.wishLists.updateWishListLines></commerce.wishLists.updateWishListLines>
      <commerce.wishLists.removeWishListLines></commerce.wishLists.removeWishListLines>
      <commerce.orders.submitOfflineOrder></commerce.orders.submitOfflineOrder>
    </pipelines>
  </sitecore>
</configuration>