<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:coveo="http://www.sitecore.net/xmlconfig/coveo/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore coveo:require="!disabled">
    <pipelines>
      <coveoInboundFilterPipeline>
        <processor type="Sitecore.HabitatHome.Foundation.CoveoIndexing.Processors.ExcludeItemsCoveoInboundFilter, Sitecore.HabitatHome.Foundation.CoveoIndexing">
          <ItemIds>{DAA517D6-DDDF-43DF-A0F1-1E18006B5DE9};{602E4F4D-11E2-44E9-A8AC-12AE5E05A1A4};{74A89460-3E7A-4A64-887A-2D766706ACAE};{1D7CF3BF-B919-49F9-B47B-6F37BFCF1FC9};{A1874E15-32CF-40DC-99D0-43991E3BB5F2};{1C2ADB44-64A5-426E-B529-52BA72987CDF};{8F193217-612B-44F9-A53F-07D2E886F5B0};{49FE5A16-733B-4486-923A-3ADC7B8E984F};{0E123BEC-A931-4A71-A3A9-8BB69F9CE5AF};{30496055-0520-472F-9CFB-D5117ADAEB0C}</ItemIds>
        </processor>
        <processor type="Sitecore.HabitatHome.Foundation.CoveoIndexing.Processors.ExcludeDuplicateProductsCoveoInboundFilter, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
      </coveoInboundFilterPipeline>
    </pipelines>
    <coveo>
      <defaultIndexConfiguration>
        <serverUrl>https://habitathome.coveodemo.com</serverUrl>
        <indexCoveoFields>false</indexCoveoFields>
        <fieldMap>
          <fieldNames hint="raw:AddFieldByFieldName">
            <fieldType fieldName="variantscolor" isMultiValue="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="variantssize" isMultiValue="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="variantsstyle" isMultiValue="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="productimages" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="computedBrand" isFacet="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="computedDescription" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="computedDisplayName" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="computedManufacturer" isFacet="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <fieldType fieldName="computedProductId" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <field fieldName="computedcategories" isMultiValue="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <field fieldName="computedsingularcategories" isMultiValue="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <field fieldName="computedcatalogs" isMultiValue="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <field fieldName="computedtags" isMultiValue="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <field fieldName="authorname" isFacet="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
            <field fieldName="computedmetakeywords" isMultiValue="true" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework" />
          </fieldNames>
        </fieldMap>
        <documentOptions>
          <indexAllFields>true</indexAllFields>
          <fields hint="raw:AddComputedIndexField">
            <field fieldName="variantscolor" variantFieldName="Color" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.ProductVariantsReferencedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="variantssize" variantFieldName="Size" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.ProductVariantsReferencedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="variantsstyle" variantFieldName="Style" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.ProductVariantsReferencedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="productimages" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.ProductImagesUrlComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="computedBrand" sourceFieldName="Brand" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.FieldValueComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="computedDescription" sourceFieldName="Description" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.FieldValueComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="computedDisplayName" sourceFieldName="DisplayName" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.FieldValueComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="computedManufacturer" sourceFieldName="Manufacturer" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.FieldValueComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="computedProductId" sourceFieldName="ProductId" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.FieldValueComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="computedcategories" sourceField="ParentCategoryList" referencedFieldName="DisplayName" remove="DefaultRecommendation;Featured Product;NextCube Performance Gaming Accessories;NextCube_InGame;Fitness Products;Kitchen Appliances" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.RemoveValuesReferencedFieldComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="computedsingularcategories" sourceField="ParentCategoryList" referencedFieldName="DisplayName" remove="DefaultRecommendation;Featured Product;NextCube Performance Gaming Accessories;NextCube_InGame;Fitness Products;Kitchen Appliances" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.RemoveValuesAndSingularizeReferencedFieldComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="computedcatalogs" sourceField="ParentCatalogList" referencedFieldName="DisplayName" type="Coveo.SearchProvider.ComputedFields.ReferencedFieldComputedField, Coveo.SearchProviderBase" />
            <field fieldName="productlistprice" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.ListPriceComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <!-- TODO: tags: merged with variants -->
            <field fieldName="computedtags" sourceFieldName="Tags" replace="|" replaceBy=";" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.FieldValueStringReplaceComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="authorname" sourceField="Author" referencedFieldName="Author Name" type="Coveo.SearchProvider.ComputedFields.ReferencedFieldComputedField, Coveo.SearchProviderBase" />
            <field fieldName="computedmetakeywords" sourceFieldName="MetaKeywords" replace="," replaceBy=";" type="Sitecore.HabitatHome.Foundation.CoveoIndexing.ComputedFields.FieldValueStringReplaceComputedField, Sitecore.HabitatHome.Foundation.CoveoIndexing" />
            <field fieldName="imageurl" sourceField="Image" type="Coveo.SearchProvider.ComputedFields.ImageUrlComputedField, Coveo.SearchProviderBase" />
            <field fieldName="imagealt" sourceField="Image" type="Coveo.SearchProvider.ComputedFields.ImageAltComputedField, Coveo.SearchProviderBase" />
            <field fieldName="navigationimageurl" sourceField="Navigation Image" type="Coveo.SearchProvider.ComputedFields.ImageUrlComputedField, Coveo.SearchProviderBase" />
            <field fieldName="navigationimagealt" sourceField="Navigation Image" type="Coveo.SearchProvider.ComputedFields.ImageAltComputedField, Coveo.SearchProviderBase" />
          </fields>
          <include hint="list:AddIncludedTemplate">
            <commonPage>{BD74A392-DACD-4C23-853A-D520762B33A1}</commonPage>
            <l2ContentPage>{E3B950BB-1B55-4CDD-819F-031B3BE1A66C}</l2ContentPage>
            <guidePage>{14807D83-9671-4D70-B0F4-F54012F2BFB8}</guidePage>
            <loginPage>{67A3063B-3801-4C53-8762-ACFA1CD75113}</loginPage>
            <buyGiftCard>{A8359172-32A7-47EE-9C1A-35CC46148CE6}</buyGiftCard>
            <commerceProduct>{225F8638-2611-4841-9B89-19A5440A1DA1}</commerceProduct>
            <contentSellableItem>{3F96F319-BB08-4BAC-BABE-9A0AAAB47FBE}</contentSellableItem>
          </include>
        </documentOptions>
      </defaultIndexConfiguration>
    </coveo>
    <contentSearch>
      <configuration>
        <indexes hint="list:AddIndex">
          <index role:require="!ContentDelivery" id="Coveo_master_index">
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawler">
                <root>/sitecore/content/Habitat Sites/Habitat Home/home</root>
              </crawler>
              <crawler name="MediaLibraryCrawler">
                <patch:delete />
              </crawler>
            </locations>
          </index>
          <index id="Coveo_web_index">
            <locations hint="list:AddCrawler">
              <crawler name="ContentCrawler">
                <root>/sitecore/content/Habitat Sites/Habitat Home/home</root>
              </crawler>
              <crawler name="MediaLibraryCrawler">
                <patch:delete />
              </crawler>
            </locations>
          </index>
          <index role:require="!ContentDelivery" id="Coveo_sellable_items_index" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider">
            <param desc="p_Name">$(id)</param>
            <configuration ref="coveo/defaultIndexConfiguration" />
            <propertyStore ref="coveo/databasePropertyStore" param1="$(id)"/>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>