<?xml version="1.0"?>

<configuration xmlns:coveo="http://www.sitecore.net/xmlconfig/coveo/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore coveo:require="!disabled">
    <coveo>
      <defaultSellableItemsIndexConfiguration ref="coveo/defaultIndexConfiguration">
        <param type="Coveo.Framework.Utils.CoveoReflectionFactory, Coveo.Framework" desc="coveoReflectionFactory"/>
        <securityConfiguration type="Coveo.Framework.Configuration.SecurityConfiguration, Coveo.Framework">
          <indexPermissions>False</indexPermissions>
        </securityConfiguration>
        <indexAnalyticsFields>false</indexAnalyticsFields>
        <indexCoveoFields>false</indexCoveoFields>
        <fieldMap type="Coveo.SearchProvider.CoveoFieldMap, Coveo.SearchProvider">
          <param type="Coveo.Framework.Utils.CoveoReflectionFactory, Coveo.Framework" desc="coveoReflectionFactory"/>
          <fieldNames hint="raw:AddFieldByFieldName">
            <fieldType fieldName="name" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework"/>
            <fieldType fieldName="brand" includeForFreeTextSearch="true" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework"/>
            <fieldType fieldName="description" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework"/>
            <fieldType fieldName="productId" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework"/>
            <fieldType fieldName="sitecoreId" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework"/>
            <fieldType fieldName="manufacturer" includeForFreeTextSearch="true" isFacet="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework"/>
            <fieldType fieldName="variantId" includeForFreeTextSearch="true" settingType="Coveo.Framework.Configuration.FieldConfiguration, Coveo.Framework"/>
          </fieldNames>
        </fieldMap>
        <documentOptions type="Sitecore.ContentSearch.DocumentBuilderOptions, Sitecore.ContentSearch">
          <indexAllFields>true</indexAllFields>
          <fields hint="raw:AddComputedIndexField" />
          <exclude hint="list:AddExcludedTemplate" />
          <include hint="list:AddIncludedTemplate" />
        </documentOptions>
      </defaultSellableItemsIndexConfiguration>
    </coveo>
    <contentSearch>
      <configuration>
        <indexes hint="list:AddIndex">
          <index role:require="!ContentDelivery" id="Coveo_sellable_items_index" type="Coveo.SearchProvider.ProviderIndex, Coveo.SearchProvider">
            <param desc="p_Name">$(id)</param>
            <configuration ref="coveo/defaultSellableItemsIndexConfiguration" />
            <locations hint="list:AddCrawler">
              <!-- HACK: For Coveo Command Center fields section not to break, at least one SitecoreItemCrawler must exist in each index.
                   This one is configured on a leaf item that exist in Sitecore out of the box. -->
              <crawler name="SellableItemsCrawler" type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <database>master</database>
                <root>/sitecore/templates/Common/Folder/__Standard Values</root>
                <stopOnError>true</stopOnError>
              </crawler>
            </locations>
            <propertyStore ref="coveo/databasePropertyStore" param1="$(id)"/>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>