<div class="coveo-result-frame coveoforsitecore-template">
    <div class="coveo-result-row">
        <% if (raw.navigationimageurl) { %>
            <img src="<%- raw.navigationimageurl %>" alt="<%- raw.navigationimagealt %>" />
        <% } else { %>
            <img src="https://www.ttieurope.com/content/dam/ttiinc/products/product-placeholder.jpg" />
        <% } %>
    </div>
    <div class="coveo-result-row">
        <div class="coveo-result-cell">
            <div class="coveo-title">
                <a class="CoveoResultLink"><%= title ? highlight(title, titleHighlights) : clickUri %></a>
            </div>
        </div>
    </div>
    <div class="coveo-result-row">
        <div class="coveo-result-cell">
            <div class="author-name">By <%- raw.authorname %></div>
            <span class="CoveoExcerpt"></span>
        </div>
    </div>
</div>