<div class="coveo-result-frame coveoforsitecore-template">
    <div class="coveo-result-row">
        <div class="coveo-result-cell coveo-quick-view-container">
            <% if (raw.productimages) { %>
                <img src="<%- raw.productimages[0] %>" alt="<%- raw.navigationimagealt %>" />
            <% } else { %>
                <span class="CoveoIcon"></span>
            <% } %>
            <% if (hasHtmlVersion) { %>
                <div class="CoveoQuickview" data-fixed="true"></div>
            <% } %>
        </div>
        <div class="coveo-result-cell coveoforsitecore-information-section">
            <div class="coveo-result-row">
                <div class="coveo-result-cell">
                    <div class="coveo-title">
                        <a class="CoveoResultLink"><%= title ? highlight(title, titleHighlights) : clickUri %></a>
                    </div>
                    <h4><%- raw.brand %></h4>
                    <h4><%- raw.computedcategories %></h4>
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
        </div>
    </div>
</div>